body{
    margin:0;
    padding: 0;
    font-family: poppins;
    background-color: wheat;

}
*{
    box-sizing:border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: wheat;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 45px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: steelblue;
    letter-spacing: 1px;
}
.search{
    width: 250px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;

}
.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}




nav .menu li a:hover{
    background-color: slateblue;
    color: snow;
    box-shadow: 5px 10 px 30px rgba(53, 53, 53, 0.01);
    transition: all ease 0;
}

#slider{
    
    width: cover;
    position: top;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
#main{
    padding-top: 80px;
}

.video-raw{
    display: flex;
    padding: 3px 3px 30px;
}

.video-raw .vid{
    padding: 3px 3px 30px
}
video{
    cursor: pointer;
}